@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), var(--font-inter), system-ui;
  font-weight: 700;
  letter-spacing: -0.02em;
}

body {
  background-color: white;
}

.dark body {
  background-color: rgb(2 6 23);
}
